[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=sailpush
Exec=/usr/bin/invoker --type=silica-qt5 /usr/bin/sailpush
Name=SailPush

[X-Sailjail]
OrganizationName=net.sailpush
ApplicationName=sailfish
Permissions=Internet;AppLaunch;UserDirs;Audio
Sandboxing=Disabled

[X-HarbourBackup]
BackupPathList=.local/share/net.sailpush/sailfish/
