[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=sailpush
Exec=/usr/bin/invoker --type=silica-qt5 /usr/bin/sailpush
Name=SailPush

[X-Sailjail]
OrganizationName=com.zackslash
ApplicationName=sailpush
Permissions=Internet;AppLaunch;UserDirs;Audio;Secrets
Sandboxing=Disabled

[X-HarbourBackup]
BackupPathList=.local/share/com.zackslash/sailpush/
